.body{
    background-color: rgb(140, 190, 167);
    margin: 20px;
}

.header{
    background-color: #bebee6;
    color: rgb(24, 2, 2);
    padding: 5px;
    text-align: center;
    border: #9090e0 solid 2px;
    border-radius: 20px;
}
.content{
    background-color: #e0e0e0;
    color: rgb(24, 2, 2);
    padding: 20px;
    border: #9090e0 solid 2px;
    border-radius: 20px;
}
